

.custom-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 2px 4px 3px 3px rgb(96, 95, 95);
  }
  
  .custom-table th{
    padding: 8px;
    border: 1px solid #0f0d0d;
  }
  .custom-table td {
    padding: 8px;
    border: 1px solid #383333;
  }
  
  .custom-table th {
    background: linear-gradient(90deg, #0b1324 0%, #182848 100%);
    color:white;
    font-weight: bold;
    text-align:center;
    height:18px;
  }
  
  .custom-table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .custom-table tbody tr:hover {
    background-color: #f2f2f2;
  }
  
  .btn{
    background-color: #182848;
    color:white;
    margin-left: 35rem;
    margin-top: 2rem;
  }
  .btn:hover{
    color: aquamarine;
  }