<form [formGroup]="smsForm" (ngSubmit)="onSubmit()">

    <body>
            <div class="container d-flex ">
                <div class="card card1 mt-3">
                    <h5 class="card-header"
                        style="background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);font-size: medium;"><i
                            class="fas fa-bars"></i> Send
                        SMS</h5>
                    <div class="card-body">
                        <div class="Sender d-flex">
                            <label id="label" for="Sender ID">Sender ID </label>
                            <select class="form-select col-9 mx-4" formControlName="sender"
                                aria-label="Default select example">
                                <option value="">--Select--</option>
                                <option value="NUEVAS">NUEVAS</option>
                                <option value="TRKZIA">TRKZIA</option>
                            </select>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div class="template d-flex">
                            <label id="label" for="Template"> Template </label>
                            <select class="form-select col-9 mx-4 " formControlName="templateid"
                                (change)="changevalue($event) ">
                                <option value="">--Select--</option>
                                <option value="1707161891201501738">Your My SMS verification Code id . Do not share
                                    this code with others Team Nuevas</option>
                                <option value="1707161855199873979">Dear User your OTP is Kindly use OTP to validate
                                    your Registration. Team Trackzia</option>
                                <option value="1707161899992775140">Dear , Your Complaint with Complaint Id: has
                                    Been Resolve Kindly Share OTP, The OTP is \n From Nuevas</option>
                            </select>
                        </div>
                        <br>
                        <div class="mb-4 d-flex">
                            <label id="label" for="exampleFormControlTextarea1" class="form-label">Mobile No</label>
                            <textarea class="form-control col-9 mx-4"formControlName="mob"
                                placeholder="you can send SMS in batches upto 500 at a time"
                                id="exampleFormControlTextarea1" rows="3" [(ngModel)]="selectedPhoneNumbers"></textarea>                                
                        </div>
                        <span class="badge badge-secondary" style="position: relative;
                            top: -23px;left: 91px">Valid MobileCount: {{ validMobCount }}
                        </span>
                        <span class="badge badge-primary" style="position: relative; top:-23px;left: 250px;">Invalid MobileCount: {{invalidMobCount}}</span>
                        <div class="form-check" style="text-align: right;">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (click)="checkBoxFun()" value="" 
                            formControlName="clearCheckBox">
                            <label class="form-check-label" style="font-size: small;" for="flexCheckDefault">
                                Clear list
                            </label>
                        </div>
                        <br>
                        <hr>
                        <br>
                        <div>
                            <input type="text"
                                style="width: 38rem;height: 3rem; font-size: small;text-align: center;background-color: rgb(204, 223, 235);"
                                class="textbox"
                                placeholder="Info! One variable {#var#} = 30 characters only. Enter the number of characters accordingly.">
                        </div>
                        <br>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" style="font-size: small;" for="flexCheckDefault">
                                Unicode(Hindi,Marathi SMS)
                            </label>
                        </div>
                        <div class="mb-4 d-flex">
                            <label id="label" for="exampleFormControlTextarea1"  class="form-label">Message</label>
                            <textarea class="form-control col-9 mx-4" formControlName="msg"
                                id="exampleFormControlTextarea1" rows="3"></textarea>
                            <br>
                        </div>
                        <span class="badge badge-secondary" style="position: relative;
                            top: -23px;left: 85px">Count: {{ textlength }} Text: {{ limit }}
                        </span>
                        <span class="badge badge-primary" style="position: relative; top:-23px;left: 282px;">Total
                            Credit Charge:{{creditcount}}</span>
                        <br>
                        <button class="btn btn-primary " type="submit" style="background: rgb(30, 30, 44); color: white;height: 35px;position: relative;
                            left: 433px;">Confirm</button>
                        <br>
                    </div>
                    <hr>
                    <div class="schedule">                        
                               <div class="schedule-checkbox">
                                   <input type="checkbox" id="showSchedule" name="showSchedule" [(ngModel)]="showSchedule" (change)="toggleSchedule()">
                                   <label for="showSchedule">Schedule</label>
                               </div>
                            <!--  -->
                               <!-- <br> -->
                            <div class="middle">
                               <div class="schedule-fields" *ngIf="showSchedule">
                                   <div class="schedule-field">
                                       <label for="startDatePicker" style="font-weight: bold;">Start Date:</label>
                                       <input type="date" id="startDatePicker" name="startDatePicker" [(ngModel)]="selectedDate" (click)="openDatePicker()">
                                   </div>
                                   <div class="schedule-field">
                                       <label for="startTimePicker" style="font-weight: bold;">Start Time:</label>
                                       <input type="time" id="startTimePicker" name="startTimePicker" [(ngModel)]="selectedTime" (click)="openTimePicker()">
                                   </div>
                                </div>
                            </div>
                                <!--  -->
                                <div class="col-md1 align-right ">
                                    <button class="button"  type="submit" >Confirm</button> 
                                </div>                         
                    </div>
                    <div class="card-footer" style="text-align: right;">
                        <div>
                            <br>
                            
                            <div class="mb-4 d-flex">
                                <label id="label" for="exampleFormControlTextarea1" class="form-label">Test
                                    SMS</label>
                                <textarea class="form-control col-9 mx-3" placeholder="enter the mobile no"
                                    id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <button class="btn btn-primary" style="background-color: rgb(0, 21, 253); color: white; width:20%; margin-right: 35rem;height: 35px;position: relative;
                                left: 400px;top:10px">Test
                                SMS</button>
                        </div>
                    </div>
                </div>

                <div class="card   mx-2 mt-3">                   
                    <div class="card card2 mx-2 mt-3" [ngClass]="show? 'maxheight':'minheight'">
                        <h5 class="card-header"
                            style="background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);font-size: medium;">
                            <i class="fas fa-bars"></i>
                            Select Option
                            <div style="margin-top: -19px;" (click)="showOption()">
                                <i class="fas fa-caret-square-down" style="margin-left: 20rem; "></i>
                            </div>
                        </h5>
                        
                        <div class="card-body" *ngIf="show">
                            <div class="col-md-12 insideobj">
                                <div class="widget box">
                                    <div class="widget-header">
                                        <div class="toolbar no-padding">
                                            <div class="btn-group">
                                                <span class="btn btn-xs widget-collapse"><i class="icon-angle-down"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="widget-content"
                                        style="overflow-x: auto; overflow-y: auto; max-height: 300px;">
                                        <div class="tabbable tabbable-custom" id="tabs2">
                                            <ul class="nav nav-tabs " style="display: flex;background-color: lavender;">
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#tab_feed_1" data-toggle="tab">Groups</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" href="#tab_feed_2" data-toggle="tab">Choose File</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane" id="tab_feed_1">
                                                    <div class="form-horizontal row-border" id="validate-1" action="#" novalidate="novalidate">

                                                        <div class="form-group">
                                                            <br>
                                                            <div class="col-md-12">
                                                                <input id="selectAll" type="checkbox" [checked]="selectAllCheckbox" (change)="selectAllChanged()" >
                                                                <label id="slctall" for="selectAll">Select All</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input  id="grpidp1" type="checkbox" [checked]="checkbox1" (change)="checkboxChanged()">
                                                                <label id="grpidp" for="grpidp1">poo(2)</label>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <input  id="grpidt1" type="checkbox" [checked]="checkbox2" (change)="checkboxChanged()">
                                                                <label id="grpidt" for="grpidt1">test()</label>
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                </div>
                                                
                                                <div class="tab-pane active" id="tab_feed_2">
                                                    <div class="form-horizontal row-border" id="validate-1" action="#" novalidate="novalidate">
                                                        <br>
                                                        <div class="controls">
                                                            Download .xls File Format
                                                            <a  style="font-size:Medium;" href="{{ downloadUrl }}" download="ImportMobileNumber.xls">Click Here</a>
                                                        </div>
                                                        <br>
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <input type="file" accept=".xls,.txt,.csv" type="file"(change)="onFileSelected($event)" class="form-control">
                                                            </div>
                                                            <button class="btn btn-primary" (click)="importContacts()" style="margin-top: 15px;
                                                            margin-left: 93px;background-color: blue;">Import</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    
                    <div class="card card3 mx-2 mt-3" [ngClass]="show1? 'maxheight1':'minheight1'" >
                        <h5 class="card-header"
                            style="background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);font-size: medium;">
                            <i class="fas fa-bars"></i>
                            Select ChatBot
                            <div style="margin-top: -19px;" (click)="showChatbot()">
                                <i class="fas fa-caret-square-down" style="margin-left: 20rem; "></i>
                            </div>
                        </h5>
                        <div class="card-body" *ngIf="show1">
                            <select class="form-select col-10 mx-3" formControlName="sender"
                                aria-label="Default select example">
                                <!-- <option select>select</option> -->
                                <option value="">Select the option</option>
                                <option value="1">Chatbot 1</option>
                                <option value="2">Chatbot 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="card card4 mx-2 mt-3" [ngClass]="show2? 'maxheight1':'minheight1'" >
                        <h5 class="card-header"
                            style="background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);font-size: medium;">
                            <i class="fas fa-bars"></i>
                            Select Media
                            <div style="margin-top: -19px;" (click)="showMedia()">
                                <i class="fas fa-caret-square-down" style="margin-left: 20rem; "></i>
                            </div>
                        </h5>
                        <div class="card-body" *ngIf="show2">
                            <div class="widget-content" style="display: block;">
                                <div class="tabbable tabbable-custom" id="tabs1">
                                    <ul class="nav nav-tabs" style="display: flex;background-color: lavender;justify-content: center;">
                                        <li class="nav-item">
                                            <a class="nav-link" href="#tab_feed_m1" data-toggle="tab">Image</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#tab_feed_m2" data-toggle="tab">Video</a>
                                        </li>
                                    </ul>
                                    <br>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_feed_m1">
                                            <div class="form-horizontal row-border" id="validate-1" action="#" novalidate="novalidate">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <select name="selectedImage" class="form-select col-10 mx-3">
                                                            <option value="">Select an image</option>
                                                            <option value="image1.jpg">Image 1</option>
                                                            <option value="image2.jpg">Image 2</option>
                                                            <!-- Add more options if needed -->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <!-- /#tab_feed_m1 -->
                                        <div class="tab-pane" id="tab_feed_m2">
                                            <div class="form-horizontal row-border" id="validate-1" action="#" novalidate="novalidate">
                                                <div class="form-group">
                                                    <div class="col-md-12">
                                                        <select name="selectedVideo" class="form-select col-10 mx-3">
                                                            <option value="">Select a video</option>
                                                            <option value="video1.mp4">Video 1</option>
                                                            <option value="video2.mp4">Video 2</option>
                                                            <!-- Add more options if needed -->
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /#tab_feed_m2 -->
                                    </div>
                                    <!-- /.tab-content -->
                                </div>
                                <!-- /.tabbable tabbable-custom-->
                            </div>
                            <!-- /.widget-content -->
                            
                        </div>
                    </div>
                </div>
            </div>
    </body>
</form>
