@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /* font-size: 15px; */
}
body{
  background:liwhitesmoke;
}
.dt{
    color: azure;
}

.card1{
    width: 40rem;
    /* height: 30rem; */
    border: 1px solid darkgray;
}

textarea{
    margin-left: 20px;
    margin-right: 40px;
}
/* .card2{
    width: 23rem;
    height: 18rem;
    border: 1px solid darkgray;
} */

.maxheight{
    height: 18rem;
    width: 23rem;
    border: 1px solid darkgray;
}

.minheight{
    height: 6rem;
    width: 23rem;
    border: 1px solid darkgray;
}

.maxheight1{
    height: 16rem;
    width: 23rem;
    border: 1px solid darkgray;
}

.minheight1{
    height: 6rem;
    width: 23rem;
    border: 1px solid darkgray;
}

.maxheight2{
    height: 16rem;
    width: 23rem;
    border: 1px solid darkgray;
}

.minheight2{
    height: 6rem;
    width: 23rem;
    border: 1px solid darkgray;
}


.insideobj{
  margin-top: -2rem;
}

.card{
    padding-bottom: 2rem;
}

.container{
    gap: 2rem;
    justify-content: right;
}

input[type=text],select,textarea{
    /* width:100%;
    padding: 12px;
    border: 1px solid lightgray;
    border-radius: 4px; */
    /* margin-top: 6px;
    margin-bottom: 16px; */
    resize: vertical;

}
.schedule{
    display: flex;
    margin-top: 1em;
    margin-bottom: 2em; 
}
.schedule-checkbox{
    margin-left: 5px;
    width: 6em;
}
.schedule-fields{
    width:28em;
    display: flex; 
    /* margin-top: 2rem; */
    /* margin-left:12px; */
}
.schedule{
    display: -webkit-box;
    flex-direction: column;
    height: 2vh;
}
.middle{
 width: 28em;   
}
.schedule-field{  
    margin-left:5px;
}
.schedule-field label{  
    margin-right: 5px;
}
.schedule-field input{ 
    border: 1px solid black;
}

 .button{
    background: rgb(30, 30, 44);
    color: white;
    border-radius: 2px;
 }


