/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  background:liwhitesmoke;
}

.card1{
    width: 40rem;
    border: 1px solid darkgray;
}

textarea{
    margin-left: 20px;
    margin-right: 40px;
}
.card2{
    width: 23rem;
    height: 20rem;
    border: 1px solid darkgray;
}
.insideobj{
  margin-top: -2rem;
}

.card{
    padding-bottom: 2rem;
}

.container{
    gap: 2rem;
    justify-content: right;
}

input[type=text],select,textarea{
    resize: vertical;

} */